  <div class="row">
 {% for member in queen.members %}
    <div class="col-sm-6 col-lg-3">
    <div class="card mb-4">
     <div class="card-body">
      <h2> <a href="{{ member.slug }}.html" class="card-link"> {{ member.name }}</a></h2> 
      <p class="card-text"> {{ member.instruments }} </p>
      <img src="img/{{ member.image }}" class="card-img-top"> 
     </div>
    </div>
   </div>
   {% endfor %}
</div>
