 {% for member in queen.members %}
  <div class="row">
   <div class="col-sm-12 col-lg-4">
    <div class="card" style="width: 18rem;">
     <div class="card-body">
      <h2> {{ member.name }}</h2>
      <p class="card-text"> {{ member.instruments }} </p>
      <a href="{{ member.slug }}.html" class="card-link"> <img src="img/{{ member.image }}" class="card-img-top"> 
     </div>
    </div>
   </div>
  </div>
 {% endfor %}
