<ul> 
 {% for member in queen.members %}
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
   <a href="{{ member.slug }}.html" class="card-link"> <img src="img/{{ member.image }}" class="card-img-top"> 
  <div class="card-body">
  <a href="{{ member.slug }}.html" class="card-link">{{ member.name }}</a>
  </div>
  </div>
  </div>
 {% endfor %}
 </ul>