.card{
background-color: black;
color: white ;
border-color: white;
/* unvisited link */

a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}
}